# Set up out nick
nick DoCitten

# Connect to the server
connect ssl irc.esper.net 6697

# Join the channel
join #doc

# Core services needed by others
load HelpService
load HushService

load LogService /var/log/docitten
load ContextService
load KittenService
load LinkService
load GoHomeService #doc
load DiceService
load HelpingService
load LookupService
load ReminderService
load CatPicOfTheDayService

# These services are currently not dynamically loadable
# This is because they expect non-String paramters to their
# constructors
#
# load MOTDService /etc/motd.dat /etc/motd
# load DistroService /vol/linux/ubuntu
